In [1]:
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime, timedelta
import tensorflow as tf
from tensorflow.python.framework import ops
import math
from datetime import date
import requests
import json
import urllib

C:\Users\gandh\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [75]:
def split_bbox(bbox):
    bbox_org = bbox
    bbox[0] = round(bbox[0] - 0.25, 1)
    bbox[3] = round(bbox[3] + 0.25, 1)
    lat = bbox[2] - bbox[0]
    lon = bbox[3] - bbox[1]
    Loops = max([math.ceil(lat/4.9), math.ceil(lon/4.9)])
#     print(Loops)
    bbox_list = []
    for i in range(math.ceil(lat/4.9)):
        for j in range(math.ceil(lon/4.9)):
            bbox_l = [bbox[0], bbox[1], round(bbox[0]+(lat/math.ceil(lat/4.9)),1), round(bbox[1]+(lon/math.ceil(lon/4.9)),1)]
            bbox_list.append(bbox_l)
            bbox = [bbox[0], round(bbox[1]+(lon/math.ceil(lon/4.9))+0.1,1), bbox[2], bbox[3]]
#         bbox_list.append(bbox)
        bbox[0] = round(bbox[0]+(lat/math.ceil(lat/4.9)),1)
        bbox[2] = round(bbox[0]+(lat/math.ceil(lat/4.9)),1)
        bbox[1] = bbox_org[1]
        bbox[3] = bbox_org[3]
    
    return bbox_list

def create_features(features_list):
    features = ''
    for feature in range(len(features_list)):
        if feature == 0:
            features += str(features_list[feature])
        else:
            features += ',' + str(features_list[feature]) 
    return features   

def create_Dates(start, end): #MM-DD-YYYY
    start = str(start).split('-')
    start_date = ''
    for k in range(-1,len(start)-1):
        start_date += start[k]
    end = str(end).split('-')
    end_date = ''
    for l in range(-1,len(end)-1):
        end_date += end[l]
    dates = [start_date, end_date]
    date = '&startDate=' + dates[0] + '&endDate=' + dates[1]
    return date

In [76]:
Texas_bbox = [25.8, -106.6, 36.5, -93.5]
Texas_bbox_list = split_bbox(Texas_bbox)

In [77]:
Texas_bbox_list

[[25.6, -106.6, 29.2, -102.1],
 [25.6, -102.0, 29.2, -97.5],
 [25.6, -97.4, 29.2, -92.9],
 [29.2, -106.6, 32.8, -102.1],
 [29.2, -102.0, 32.8, -97.5],
 [29.2, -97.4, 32.8, -92.9],
 [32.8, -106.6, 36.4, -102.1],
 [32.8, -102.0, 36.4, -97.5],
 [32.8, -97.4, 36.4, -92.9]]

In [78]:
def Download_Data(bbox_list, features, dates, user_community, temp_Average, Folder_name):
    for j in range(len(bbox_list)):
        url = 'https://power.larc.nasa.gov/cgi-bin/v1/DataAccess.py?request=execute&identifier=Regional&parameters='\
        + features + dates + \
        '&userCommunity=' + user_community + '&tempAverage=' + temp_Average + '&outputList=CSV&bbox=' +\
        str(bbox_list[j][0]) + ',' + str(bbox_list[j][1]) + ',' + str(bbox_list[j][2]) + ',' + \
        str(bbox_list[j][3]) + '&user=anonymous'
        response = requests.get(url)
        csv_url = response.json()['outputs']['csv']
        urllib.request.urlretrieve(csv_url, 'Data/' + Folder_name + '/File_' + str(j+1) + '.csv')
        print('set ' + str(j+1) + ' is complete' )

In [79]:
solar_features = create_features(['PRECTOT', 'RH2M', 'PS', 'T2M', 'ALLSKY_SFC_SW_DWN'])
solar_dates = create_Dates('01-01-2015', '12-31-2017')
Download_Data(Texas_bbox_list, solar_features, solar_dates, 'SB', 'DAILY', 'Solar')

set 1 is complete
set 2 is complete
set 3 is complete
set 4 is complete
set 5 is complete
set 6 is complete
set 7 is complete
set 8 is complete
set 9 is complete

In [80]:
def read_csv_file(filepath, sep=', ', delimiter=',', header='infer'):
    return pd.read_csv(filepath, sep=sep, delimiter=delimiter, header=header)

def Check(df):
    print('shape:' ,df.shape)
    return df.head()

def Get_csv(bbox_list, Folder_name, header):
    data = []
    for k in range(len(bbox_list)):
        data.append(read_csv_file('Data/' + Folder_name + '/File_' + str(k+1) + '.csv', header=header))
    df = pd.concat(data).reset_index(drop=True)
    try:
        df = df.sort_values(['DY', 'MO', 'YEAR','LAT', 'LON'], axis=0).reset_index(drop=True)
    except:
        df = df.sort_values(['LAT', 'LON'], axis=0).reset_index(drop=True)
    df = df.drop_duplicates().reset_index(drop=True)
    return df

def Add_Date_Column(df):
    Date = pd.DataFrame({'year': df['YEAR'],
                       'month': df['MO'],
                       'day': df['DY']})
    Date = pd.to_datetime(Date)
    df['DATE'] = Date
    return df

def Replace_witn_nan(df, null_denoter):
    for i in null_denoter:
        df = df.replace(to_replace=i, value=np.nan)
    return df

def Check_NAN(df):
    return df.isnull().sum()

In [81]:
solar_data = Get_csv(Texas_bbox_list, 'Solar', 14)

solar_data['LON'] = solar_data.LON.apply(lambda x:-x)

solar_data = Add_Date_Column(solar_data)

solar_data = Replace_witn_nan(solar_data, [-999.0, 'nan', "NAN", 'NA'])

Check_NAN(solar_data)

LAT                     0
LON                     0
YEAR                    0
MO                      0
DY                      0
PRECTOT               638
RH2M                    0
PS                      0
T2M                     0
ALLSKY_SFC_SW_DWN    3251
DATE                    0
dtype: int64

In [82]:
def Fill_Null_vals(df):
    try:
        df = df.fillna(method='ffill')
    except:
        df = df.fillna(method='bfill')
    return(df)

In [83]:
solar_data = Fill_Null_vals(solar_data)

Check_NAN(solar_data)

LAT                  0
LON                  0
YEAR                 0
MO                   0
DY                   0
PRECTOT              0
RH2M                 0
PS                   0
T2M                  0
ALLSKY_SFC_SW_DWN    0
DATE                 0
dtype: int64

In [84]:
degree_celcius =  u"\u2103"
degree = u'\xb0'
square = '\u00b2'

In [85]:
def Drop_Column(df,column):
    df = df.drop(column, axis=1)
    return df

solar_data.columns = ['Latitude (' + degree + 'N)', 'Longitude (' + degree + 'W)', 'Year', 'Month', 'Day', 'Precepitation (mm/day)', \
                    'Relative Humidity at 2m (%)', 'Surface Pressure (kPa)', \
                    'Temperature at 2m (' + str(degree_celcius) + ')', \
                    'All Sky Insolation (kW-hr/m' + square + '/day)', 'Date']

In [86]:

solar_data = Drop_Column(solar_data, ['Year', 'Month', 'Day'])

Check(solar_data)

shape: (699248, 8)

,Latitude (°N),Longitude (°W),Precepitation (mm/day),Relative Humidity at 2m (%),Surface Pressure (kPa),Temperature at 2m (℃),All Sky Insolation (kW-hr/m²/day),Date
0,25.75,106.75,1.07,85.70,80.09,8.38,2.18,2015-01-01
1,25.75,106.25,1.34,86.07,76.39,7.25,2.18,2015-01-01
2,25.75,105.75,0.55,77.26,78.32,9.07,2.82,2015-01-01
3,25.75,105.25,0.15,70.79,80.56,10.56,2.82,2015-01-01
4,25.75,104.75,0.01,66.00,82.43,11.58,1.79,2015-01-01

In [87]:
solar_data = solar_data.drop_duplicates()

Check(solar_data)

shape: (699248, 8)

,Latitude (°N),Longitude (°W),Precepitation (mm/day),Relative Humidity at 2m (%),Surface Pressure (kPa),Temperature at 2m (℃),All Sky Insolation (kW-hr/m²/day),Date
0,25.75,106.75,1.07,85.70,80.09,8.38,2.18,2015-01-01
1,25.75,106.25,1.34,86.07,76.39,7.25,2.18,2015-01-01
2,25.75,105.75,0.55,77.26,78.32,9.07,2.82,2015-01-01
3,25.75,105.25,0.15,70.79,80.56,10.56,2.82,2015-01-01
4,25.75,104.75,0.01,66.00,82.43,11.58,1.79,2015-01-01

In [88]:
def Save_as_CSV(df, Folder_name, File_name):
    df.to_csv('Data/' + Folder_name + '/' + File_name + '.csv', index=False)

In [89]:
Save_as_CSV(solar_data, 'Solar', '2015 to 2017')

In [90]:
solar_data = pd.read_csv('Data/Solar/2015 to 2017.csv')
solar_data#.groupby(solar_data.index // 365 * 365).sum().reset_index(drop=True)
# max(solar_data['All Sky Insolation (kW-hr/m' + square + '/day)'])

,Latitude (°N),Longitude (°W),Precepitation (mm/day),Relative Humidity at 2m (%),Surface Pressure (kPa),Temperature at 2m (℃),All Sky Insolation (kW-hr/m²/day),Date
0,25.75,106.75,1.07,85.70,80.09,8.38,2.18,2015-01-01
1,25.75,106.25,1.34,86.07,76.39,7.25,2.18,2015-01-01
2,25.75,105.75,0.55,77.26,78.32,9.07,2.82,2015-01-01
3,25.75,105.25,0.15,70.79,80.56,10.56,2.82,2015-01-01
4,25.75,104.75,0.01,66.00,82.43,11.58,1.79,2015-01-01
5,25.75,104.25,0.00,63.17,84.14,12.12,1.79,2015-01-01
6,25.75,103.75,0.00,63.41,86.69,12.34,2.30,2015-01-01
7,25.75,103.25,0.01,66.93,87.90,12.07,2.30,2015-01-01
8,25.75,102.75,0.05,67.10,87.87,13.05,1.95,2015-01-01
9,25.75,102.25,0.06,66.55,86.92,13.85,1.95,2015-01-01
10,25.75,101.75,0.07,67.08,85.89,13.83,2.69,2015-01-01
11,25.75,101.25,0.21,69.04,86.11,13.20,2.69,2015-01-01
12,25.75,100.75,0.40,77.65,87.81,11.07,2.15,2015-01-01
13,25.75,100.25,0.56,84.57,92.03,8.69,2.15,2015-01-01
14,25.75,99.75,1.06,86.64,96.55,7.17,1.01,2015-01-01
15,25.75,99.25,1.83,85.39,99.76,6.89,1.01,2015-01-01
16,25.75,98.75,2.37,84.93,100.59,7.48,0.99,2015-01-01
17,25.75,98.25,2.20,83.91,101.38,8.01,0.99,2015-01-01
18,25.75,97.75,2.22,86.17,101.80,9.14,1.10,2015-01-01
19,25.75,97.25,3.01,92.64,101.96,12.17,1.10,2015-01-01
20,25.75,96.75,4.27,95.16,101.93,16.14,1.00,2015-01-01
21,25.75,96.25,6.37,94.55,101.87,18.56,1.00,2015-01-01
22,25.75,95.75,5.08,93.04,101.86,19.85,1.83,2015-01-01
23,25.75,95.25,4.01,92.16,101.86,20.87,1.83,2015-01-01
24,25.75,94.75,3.22,91.30,101.86,21.77,2.25,2015-01-01
25,25.75,94.25,2.65,90.29,101.87,22.52,2.25,2015-01-01
26,25.75,93.75,2.12,89.37,101.88,22.94,3.56,2015-01-01
27,25.75,93.25,2.09,89.19,101.89,23.09,3.56,2015-01-01
28,25.75,92.75,2.13,88.87,101.91,23.19,2.90,2015-01-01
29,26.25,106.75,2.33,86.26,77.61,6.81,3.11,2015-01-01
...,...,...,...,...,...,...,...,...
699218,35.75,92.75,0.00,51.39,99.59,-7.11,3.09,2017-12-31
699219,36.25,106.75,0.00,38.50,77.15,1.01,2.99,2017-12-31
699220,36.25,106.25,0.00,39.77,76.46,0.70,2.99,2017-12-31
699221,36.25,105.75,0.00,39.71,75.78,0.45,2.48,2017-12-31
699222,36.25,105.25,0.00,39.95,76.52,-0.18,2.48,2017-12-31
699223,36.25,104.75,0.00,44.89,78.81,-1.78,2.94,2017-12-31
699224,36.25,104.25,0.00,54.20,81.78,-3.94,2.94,2017-12-31
699225,36.25,103.75,0.00,57.95,83.50,-5.25,2.51,2017-12-31
699226,36.25,103.25,0.00,57.25,85.90,-6.54,2.51,2017-12-31
699227,36.25,102.75,0.00,57.04,87.83,-7.62,2.13,2017-12-31
699228,36.25,102.25,0.00,56.54,89.50,-8.65,2.13,2017-12-31
699229,36.25,101.75,0.00,54.89,90.98,-9.44,2.24,2017-12-31
699230,36.25,101.25,0.00,52.22,92.24,-9.43,2.24,2017-12-31
699231,36.25,100.75,0.00,50.41,93.22,-9.80,2.28,2017-12-31
699232,36.25,100.25,0.00,49.06,94.22,-9.94,2.28,2017-12-31
699233,36.25,99.75,0.00,48.10,95.29,-10.01,2.43,2017-12-31
699234,36.25,99.25,0.00,47.53,96.45,-10.05,2.43,2017-12-31
699235,36.25,98.75,0.00,47.54,97.70,-10.01,2.88,2017-12-31
699236,36.25,98.25,0.00,47.92,98.79,-9.82,2.88,2017-12-31
699237,36.25,97.75,0.00,46.89,99.51,-9.58,2.97,2017-12-31
699238,36.25,97.25,0.00,47.28,99.90,-9.34,2.97,2017-12-31
699239,36.25,96.75,0.00,48.26,100.22,-9.46,3.01,2017-12-31
699240,36.25,96.25,0.00,48.92,100.56,-9.61,3.01,2017-12-31
699241,36.25,95.75,0.00,50.22,100.92,-9.51,2.98,2017-12-31
699242,36.25,95.25,0.00,52.71,100.60,-9.66,2.98,2017-12-31
699243,36.25,94.75,0.00,55.33,99.73,-10.00,3.00,2017-12-31
699244,36.25,94.25,0.00,56.96,98.68,-10.33,3.00,2017-12-31
699245,36.25,93.75,0.00,56.38,97.95,-10.36,2.96,2017-12-31
699246,36.25,93.25,0.00,53.81,98.47,-9.68,2.96,2017-12-31
699247,36.25,92.75,0.00,51.18,99.32,-9.08,2.77,2017-12-31

In [91]:
# solar_data = pd.read_csv('Global Radiation for Pittsburgh.csv')

def convert_to_date(x):
    return datetime.strptime(x, '%Y-%m-%d')

solar_data.Date = solar_data.Date.apply(lambda x: convert_to_date(x))

In [92]:
year_2015 = solar_data[solar_data['Date'].dt.year==2015].iloc[:,2:-1].reset_index(drop=True)
year_2016 = solar_data[solar_data['Date'].dt.year==2016].iloc[:,2:].reset_index(drop=True)
year_2017 = solar_data[solar_data['Date'].dt.year==2017].iloc[:,2:-1].reset_index(drop=True)

In [93]:
feb_2016 = year_2016[year_2016['Date'].dt.month==2]
feb_29_2016 = feb_2016[feb_2016['Date'].dt.day==29]
drop_cols = list(feb_29_2016.index)
# year_2016['Date'][60000].month, year_2016['Date'][60000].day#==datetime.date(2016, 7, 22)

In [94]:
if len(year_2016) != len(year_2015):
    year_2016 = year_2016.drop(drop_cols,axis=0)
    year_2016 = year_2016.drop('Date',axis=1)

In [95]:
len(year_2015), len(year_2016), len(year_2017)

(232870, 232870, 232870)

In [96]:
average = (year_2015.as_matrix()+year_2016.as_matrix()+year_2017.as_matrix())/3

C:\Users\gandh\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [97]:
solar_average = pd.DataFrame(data = average, columns=year_2015.columns)
# solar_average['day of the year'] = solar_average.index+1

solar_average['Lat'] = solar_data[solar_data['Date'].dt.year==2015].reset_index(drop=True).iloc[:,0]
solar_average['Lon'] = solar_data[solar_data['Date'].dt.year==2015].reset_index(drop=True).iloc[:,1]
solar_average['Day'] = solar_data[solar_data['Date'].dt.year==2015].reset_index(drop=True).iloc[:,-1].dt.dayofyear
solar_average

,Precepitation (mm/day),Relative Humidity at 2m (%),Surface Pressure (kPa),Temperature at 2m (℃),All Sky Insolation (kW-hr/m²/day),Lat,Lon,Day
0,0.683333,83.976667,80.190000,8.256667,2.570000,25.75,106.75,1
1,1.350000,85.146667,76.476667,6.336667,2.570000,25.75,106.25,1
2,1.673333,76.770000,78.420000,8.256667,2.810000,25.75,105.75,1
3,1.993333,70.640000,80.673333,9.986667,2.810000,25.75,105.25,1
4,2.756667,66.670000,82.566667,11.156667,2.226667,25.75,104.75,1
5,4.026667,64.576667,84.286667,11.843333,2.226667,25.75,104.25,1
6,5.463333,64.056667,86.853333,12.593333,2.386667,25.75,103.75,1
7,5.896667,63.480000,88.060000,12.896667,2.386667,25.75,103.25,1
8,5.023333,63.860000,88.040000,13.116667,2.520000,25.75,102.75,1
9,4.846667,64.743333,87.090000,12.913333,2.520000,25.75,102.25,1
10,5.206667,66.226667,86.043333,12.403333,2.800000,25.75,101.75,1
11,3.776667,68.360000,86.250000,12.200000,2.800000,25.75,101.25,1
12,2.850000,72.560000,87.923333,11.766667,2.353333,25.75,100.75,1
13,2.053333,74.816667,92.073333,11.756667,2.353333,25.75,100.25,1
14,1.753333,75.813333,96.503333,12.133333,1.653333,25.75,99.75,1
15,1.936667,77.150000,99.633333,12.623333,1.653333,25.75,99.25,1
16,2.223333,80.260000,100.456667,12.716667,1.386667,25.75,98.75,1
17,2.533333,83.103333,101.226667,12.853333,1.386667,25.75,98.25,1
18,2.433333,86.713333,101.660000,13.910000,1.246667,25.75,97.75,1
19,2.846667,91.140000,101.813333,16.370000,1.246667,25.75,97.25,1
20,3.873333,91.973333,101.793333,19.270000,1.163333,25.75,96.75,1
21,5.243333,90.110000,101.756667,20.826667,1.163333,25.75,96.25,1
22,5.116667,89.160000,101.736667,21.590000,1.706667,25.75,95.75,1
23,4.943333,88.940000,101.726667,22.163333,1.706667,25.75,95.25,1
24,4.626667,88.980000,101.720000,22.666667,2.043333,25.75,94.75,1
25,4.026667,89.080000,101.716667,23.103333,2.043333,25.75,94.25,1
26,2.983333,89.350000,101.723333,23.346667,2.693333,25.75,93.75,1
27,2.656667,88.990000,101.733333,23.503333,2.693333,25.75,93.25,1
28,2.510000,88.350000,101.750000,23.646667,2.616667,25.75,92.75,1
29,1.060000,82.830000,77.713333,6.490000,3.290000,26.25,106.75,1
...,...,...,...,...,...,...,...,...
232840,0.073333,73.583333,98.820000,-0.480000,2.183333,35.75,92.75,365
232841,0.740000,72.963333,76.853333,-4.040000,2.116667,36.25,106.75,365
232842,0.426667,75.016667,76.183333,-4.640000,2.116667,36.25,106.25,365
232843,0.300000,71.690000,75.486667,-4.426667,2.146667,36.25,105.75,365
232844,0.196667,65.533333,76.220000,-3.510000,2.146667,36.25,105.25,365
232845,0.100000,61.366667,78.483333,-2.740000,2.796667,36.25,104.75,365
232846,0.020000,60.150000,81.400000,-2.583333,2.796667,36.25,104.25,365
232847,0.000000,57.993333,83.090000,-3.083333,2.236667,36.25,103.75,365
232848,0.000000,59.000000,85.396667,-3.420000,2.236667,36.25,103.25,365
232849,0.000000,60.506667,87.270000,-3.530000,2.030000,36.25,102.75,365
232850,0.000000,61.050000,88.866667,-3.573333,2.030000,36.25,102.25,365
232851,0.003333,60.440000,90.266667,-3.550000,2.090000,36.25,101.75,365
232852,0.020000,60.133333,91.473333,-3.300000,2.090000,36.25,101.25,365
232853,0.056667,60.126667,92.396667,-3.286667,2.130000,36.25,100.75,365
232854,0.093333,61.036667,93.346667,-3.263333,2.130000,36.25,100.25,365
232855,0.163333,62.636667,94.370000,-3.236667,2.230000,36.25,99.75,365
232856,0.266667,64.443333,95.473333,-3.146667,2.230000,36.25,99.25,365
232857,0.360000,65.730000,96.663333,-2.876667,2.446667,36.25,98.75,365
232858,0.353333,65.670000,97.720000,-2.396667,2.446667,36.25,98.25,365
232859,0.316667,64.770000,98.413333,-2.076667,2.573333,36.25,97.75,365
232860,0.293333,64.433333,98.823333,-1.706667,2.573333,36.25,97.25,365
232861,0.290000,64.986667,99.153333,-1.626667,2.616667,36.25,96.75,365
232862,0.390000,66.533333,99.500000,-1.663333,2.616667,36.25,96.25,365
232863,0.396667,67.923333,99.876667,-1.753333,2.866667,36.25,95.75,365
232864,0.246667,69.416667,99.596667,-1.946667,2.866667,36.25,95.25,365
232865,0.100000,71.060000,98.800000,-2.240000,2.970000,36.25,94.75,365
232866,0.023333,72.533333,97.816667,-2.533333,2.970000,36.25,94.25,365
232867,0.003333,73.100000,97.140000,-2.630000,2.816667,36.25,93.75,365
232868,0.006667,71.616667,97.650000,-1.926667,2.816667,36.25,93.25,365
232869,0.013333,70.596667,98.490000,-1.326667,2.610000,36.25,92.75,365

In [98]:
solar_average.to_csv('Data/Solar/Average.csv', index=False)

In [99]:
Surface_Albedo = 'SRF_ALB'
Equivalent_Number_Of_NO_SUN = 'EQVLNT_NO_SUN_BLACKDAYS_1'